@font-face {
  font-family: "Georama";
  src: url("./assets/Georama-Regular.ttf");
}

@font-face {
  font-family: "Merienda";
  src: url("./assets/Merienda-Regular.ttf");
}

body {
  background-color: rgba(13,17,23,255);
}

p {
  color: white;
  font-size: 1em;
  font-family: "Georama";
}

li {
  color: white;
  font-family: "Georama";
}

.reviewsImg {
  width: 50%;
}

.mainHr {
  border: none; 
  border-bottom: 1px solid grey;  
}

.smallHr {
  border: none; 
  border-bottom: 1px dashed grey;  
}

.backImg {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  min-height: 90%;
  border:  1px solid grey;

  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  padding: 1%;
}